* {
  margin: 0;
  padding: 0;
}
.main {
  background-color: $color-body;
  display: flex;
  flex-direction: column;

  &__article {
    display: flex;
  }
  &__div {
    display: flex;
  }

  &__img {
    align-content: flex-end;
    border-radius: 2rem;
  }
  &__subtitulo {
    text-decoration: underline;
    font-size: x-large;
  }
  &__texto {
    font-family: cursive;
    font-size: large;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-content: flex-start;
  }
  &__pie {
    display: flex;
    text-align: center;
  }
}
